@model IEnumerable<BookStore.Models.Product>;
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the best Book Store in the world</h1>
</div>

<div class="d-flex flex-wrap justify-content-center">
    @foreach (var product in Model)
    {
        <div class="card m-4" style="width: 18rem;">
            <img class="card-img-top" style="height: 28rem" src="@product.ImageUrl" alt="@product.Name">
            <div class="card-body">
                <h5 class="card-title">@product.Name</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
            <ul class="list-group list-group-flush">
                @if (product.Author != null)
                {
                    <li class="list-group-item"><b>By: </b>@product.Author</li>
                }
                @if (product.ISBN != null)
                {
                    <li class="list-group-item"><b>ISBN: </b>@product.ISBN</li>
                }
            </ul>
            <div class="card-body p-sm-2 pl-sm-4">
                <div class="row">
                    <div class="col-6">
                    <a asp-controller="Product" asp-action="Edit" asp-route-id="@product.Id" class="btn btn-outline-primary">Add to cart</a>
                    </div>
                    <div class="col-6">
                    <a asp-controller="Product" asp-action="DeleteBook" asp-route-id="@product.Id" class="btn btn-outline-danger">Buy now</a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>